<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270532658966-d6r8uuej7fr8gpb7jum7q1f589ap6go6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270532658966-d6r8uuej7fr8gpb7jum7q1f589ap6go6</string>
	<key>API_KEY</key>
	<string>AIzaSyCGM3d3yiraXOUJLNn0c06lzDTkwfiv1ys</string>
	<key>GCM_SENDER_ID</key>
	<string>270532658966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>productsApple</string>
	<key>PROJECT_ID</key>
	<string>products-369700</string>
	<key>STORAGE_BUCKET</key>
	<string>products-369700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270532658966:ios:9f29f267ea1ce8727fb237</string>
	<key>DATABASE_URL</key>
	<string>https://products-369700-default-rtdb.firebaseio.com</string>
</dict>
</plist>